@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-4;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: $space-5;
  }

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    gap: $space-5;
  }
}
